<div class="row">
    <div class="col-lg-8">
        <kendo-skeleton
            [shape]="'text'"
            [animation]="'pulse'"
            [width]="'40%'"
          ></kendo-skeleton>
          <kendo-skeleton
            [shape]="'text'"
            [animation]="'pulse'"
            [width]="'80%'"
          ></kendo-skeleton>
          <kendo-skeleton
            [shape]="'text'"
            [animation]="'pulse'"
            [width]="'60%'"
          ></kendo-skeleton>
    </div>
    <div class="col-lg-4">
        <kendo-skeleton
            [shape]="'text'"
            [animation]="'pulse'"
            [width]="'100%'"
          ></kendo-skeleton>
          <kendo-skeleton
            [shape]="'text'"
            [animation]="'pulse'"
            [width]="'50%'"
          ></kendo-skeleton>
    </div>
</div>