
@import '../../../assets/styles/variables';

.ev-header {
    .ev-appbar {
        height: 60px;
        .logo {
            height: 20px;
        }
        kendo-menu {
            .k-menu {
                .k-menu-item {
                    border-bottom: 3px solid transparent;
                    a {
                        color: $text-main;
                    }
                }
                .k-menu-item:hover {
                    border-bottom: 3px solid $primary-color;
                }
                .k-menu-item:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
