
@import '../../../assets/styles/variables';

.ev-header {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 16%);
    .ev-appbar:focus {
        box-shadow: none;
    }
    .ev-appbar {
        box-shadow: none;
        height: 60px;
        .logo {
            height: 20px;
        }
        kendo-menu {
            .k-menu {
                .k-menu-item {
                    border-bottom: 3px solid transparent;
                    a {
                        color: $text-main;
                    }
                }
                .k-menu-item:hover {
                    border-bottom: 3px solid $primary-color;
                }
                .k-menu-item:focus {
                    box-shadow: none;
                }
            }
        }
        .profile-dropdown {
            button {
                background: transparent;
                padding: 0;
                border: 0;
            }
        }
    }
}
