<div class="ev-footprint pb-50">
    <div class="hero-wrapper d-flex flex-column align-center justify-center w-100">
        <p class="header font-size-xl font-semibold">Carbon Footprint Calculator and Monitor
        </p>
    </div>
    <div class="container pt-50">
        <div class="d-flex justify-right">
            <button kendoButton class="k-primary" (click)="openCalculator()">Calculate Carbon Footprint</button>
        </div>
        <div class="pt-5">
            <div class="cf-records">
                <p class="font-size-xl grey-text">Your Carbon Emission Records</p>
            </div>
            <div *ngIf="emissionData.length == 0">
                <p class="font-size-medium text-center grey-text text-uppercase">no record found</p>
            </div>
            <kendo-card [width]="'100%'">
                <kendo-chart class="p-3">
                    <kendo-chart-series>
                      <kendo-chart-series-item
                         *ngFor="let item of emissionData"
                          [data]="item.data" [name]="item.year"
                          field="value" categoryField="month"
                          type="line">
                      </kendo-chart-series-item>
                    </kendo-chart-series>
                  </kendo-chart>
            </kendo-card>
        </div>
    </div>
</div>

<div kendoDialogContainer class="carbon-dialog"></div>