@import '../../../../assets/styles/variables';

.ev-events {
    min-height: calc(100vh - 100px);
    .events {
        .events-search {
            .search-wrapper {
                width: 300px;
                .search-input {
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
                    border: none;
                }
            }
        }
    }
}