@import '../../../../assets/styles/variables';

.ev-event-list {
    .empty-data {
        min-height: 400px;
    }
    .event-card {
        border-radius: 5px;
        border: 1px solid transparent;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .row {
            .description {

            }
            .info {
                border-left: 1px solid $light-border;
            }
        }
    }
    .event-card:hover {
        border: 1px solid $primary-color;
        //border-left: 5px solid $primary-color;
    }   
}