.ev-my-achievement {
    .cards-wrapper {
        kendo-card {
            height: 360px;
        }
        .disabled {
            background: white;
            z-index:85;
            position: relative;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            opacity:.3;
        }
    }
}